## Q1) Revising the Select Query I

```SELECT *
FROM CITY
WHERE population > 100000 and CountryCode = 'USA'```

## Q2) Revising the Select Query II

```SELECT NAME 
FROM CITY
WHERE POPULATION > 120000 
and CountryCode = 'USA'```

## Q3) Select All
```SELECT * 
FROM CITY```

## Q4) Select By ID

```SELECT * 
FROM CITY 
WHERE Id = 1661```

## Q5) Japanese Cities' Attributes 
```SELECT *
FROM CITY
WHERE COUNTRYCODE = 'JPN'```

## Q6) Japanese Cities' Names
```SELECT NAME
FROM CITY
WHERE COUNTRYCODE = 'JPN'```

## Q7) Weather Observation Station 1

```SELECT CITY , STATE
FROM STATION```

## Q8) Weather Observation Station 3
```SELECT DISTINCT CITY
FROM STATION
WHERE ID % 2 = 0 ```

## Q8) Weather Observation Station 4
```SELECT count(*) - count(DISTINCT CITY)
FROM STATION ```

## Q9) Weather Observation Station 5
```SELECT 
CITY , length(CITY)
FROM STATION 
ORDER BY length(CITY) ASC , CITY ASC 
LIMIT 1 ;```

```SELECT 
CITY , length(CITY)
FROM STATION 
ORDER BY length(CITY) DESC , CITY DESC 
LIMIT 1```

## Q10) Weather Observation Station 6

```SELECT 
distinct CITY 
FROM STATION
WHERE LEFT(CITY,1) IN ('a','e','i','o','u')```

## Q11) Weather Observation Station 7

```SELECT 
distinct CITY 
FROM STATION
WHERE RIGHT(CITY,1) IN ('a','e','i','o','u')```

## Q12) Weather Observation Station 8

``` SELECT 
distinct CITY 
FROM STATION
WHERE (RIGHT(CITY,1) IN ('a','e','i','o','u')) and (LEFT(CITY,1) IN ('a','e','i','o','u'))```

## Q13) Weather Observation Station 9
```SELECT DISTINCT CITY
FROM STATION
WHERE LOWER(LEFT(CITY,1)) not in ('a','e','i','o','u')```

## Q14) Weather Observation Station 10
```SELECT DISTINCT CITY
FROM STATION
WHERE LOWER(RIGHT(CITY,1)) not in ('a','e','i','o','u')```

## Q15) Weather Observation Station 11

```SELECT distinct city
FROM STATION
WHERE lower(LEFT(CITY,1)) not in ('a','e','i','o','u')
or lower(RIGHT(CITY,1)) not in ('a','e','i','o','u')```

## Q16) Weather Observation Station 12
```SELECT distinct city
FROM STATION
WHERE lower(LEFT(CITY,1)) not in ('a','e','i','o','u')
and lower(RIGHT(CITY,1)) not in ('a','e','i','o','u')```

## Q17) Higher Than 75 Marks
```SELECT NAME
FROM STUDENTS
where marks > 75 
ORDER BY RIGHT(NAME,3) , id ```

## Q18) Employee Names

```SELECT 
NAME 
FROM Employee
ORDER BY NAME```

## Q19) Employee Salaries

```SELECT name 
FROM Employee
where salary > 2000  and months < 10 
ORDER BY employee_id ASC```

## Q20 )Population Density Difference
```SELECT max(POPULATION) - min(POPULATION)
from CITY```